* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  min-height: 100%;
}

.w_20 {
  width: 20%;
}

.w_100 {
  width: 100%;
}

.w_40 {
  width: 40%;
}

.w_70 {
  width: 70%;
}

.mar_auto {
  margin: 10px auto;
}

.h_100 {
  height: 100%;
}

.h_80 {
  height: 80%;
}

.nav-bar {
  border-bottom: 1px solid gray;
  height: 5vh;
  position: fixed;
  z-index: 1;
  background-color: white;
}

.res_txt {
  font-size: 0.6vw;
}

.res_txt_lar {
  font-size: 0.8vw;
}

.d_flex {
  display: flex;
}

.d_grid {
  display: grid;
}

.pos_rel {
  position: relative;
}

.font_bold {
  font-weight: bold;
}

.blak_col {
  color: black;
}

.cent_alin {
  align-self: center;
}

.space_btw {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.end {
  justify-content: flex-end;
}

.flex_dir_col {
  flex-direction: column;
}

.no_border {
  border: none;
}

.nav_content {
  width: 33.3%;
}

.icons {
  margin-left: 6%;
}

.no_line {
  font-size: large;
}

.btn {
  height: 52%;
}

.logo {
  width: 60%;
  margin-left: 20%;
}

.last_content {
  column-gap: 6px;
}

.subs_butn {
  background-color: #326891;
  color: white;
  border-radius: 3px;
  padding: 4px;
  width: 122px;
}

.accnt_btn {
  background-color: white;
  border-radius: 3px;
  padding: 8px;
}

.maintag {
  top: 100px;
}

.heading {
  height: fit-content;
}

.heading_container {
  width: 35%;
  margin-left: 30%;
  font-style: oblique;
  font-size: 18px;
}

.first_picture {
  margin-top: 30px;
}

.picture {
  width: 80%;
}

.text_container {
  width: 80%;
  height: 20%;
}

.sml_txt {
  font-size: smaller;
}

.contact_container {
  margin-top: 40px;
  height: 67px;
}

.bolder_text {
  height: 20%;
}

.date_social_container {
  margin-top: 2%;
}

.date {
  width: 60%;
}

.no_decoration {
  text-decoration: none;
}

.h_33 {
  height: 33%;
}

.Big_container {
  margin-top: 60px;
}

.Big_container::after {
  content: "";
  display: table;
  clear: both;
}

.paragraph_container {
  width: 70%;
  float: left;
  margin-bottom: 60px;
}

.aside {
  width: 30%;
  float: right;
}

.paragraph {
  width: 57%;
  margin-right: 30px;
  font-size: x-large;
}

.paragraph p {
  margin-top: 10px;
}

.link_blue {
  color: blue;
}

.hr {
  width: 60px;
  left: 44%;
  margin: 20px 0;
  background-color: gray;
  height: 0.01em;
}

.thanks {
  font-size: 0.6em;
}

.thanks a {
  color: blue;
  font-size: 1em;
}

.aside_hr {
  margin: 8px 0;
  left: 0;
  width: 80%;
}

.aside_content {
  margin-bottom: 20px;
}

.sidebar_images {
  width: 91%;
  height: 100px;
}

.firstdiv {
  width: 50%;
}

.paragraph h4 {
  margin-top: 70px;
}

.big_pic_heading {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 10px;
}

.bolder {
  font-size: large;
}

.hr_pic_end {
  width: 70px;
  left: 25%;
  margin: 20px 0;
  background-color: black;
  height: 0.1em;
}

.txt_bel_big_pic {
  left: 25%;
  width: 70%;
}

.lateParas {
  margin-top: 20px;
  margin-left: 28%;
  font-size: x-large;
}

.lateParas p {
  margin-top: 10px;
}

.vid_sec {
  margin-top: 40px;
  height: 400px;
}

.yt_video {
  border: 0;
}

.vid_sec p {
  font-size: 1rem;
}

.vid_sec span {
  font-size: x-small;
}

.marg_top {
  margin-top: 30px;
}

.sml_p {
  padding-top: 35px;
  font-size: x-small;
  color: #293136;
}

.btn_icons {
  margin-top: 15px;
  column-gap: 10%;
}

.firstdiv button {
  height: 95%;
}

.icons2 {
  justify-content: space-around;
}

.hr_container {
  margin-top: 70px;
}

.two_hr {
  width: 90%;
}

.hr_1 {
  width: 65%;
  margin-left: 43px;
}

.hr_2 {
  width: 30%;
  margin-left: 140px;
}

.grid_flex_container {
  width: 94%;
  column-gap: 2%;
  margin: 10px auto;
}

.grid_container {
  width: 65%;
}

.grid_aside_container {
  width: 30%;
}

.grid-area {
  margin-top: 20px;
  width: 95%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  grid-template-areas:
    "box1 box2 box3"
    "box4 box5 box6";
  margin-bottom: 20px;
}

.grid-area2 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 20px;
  width: 95%;
  grid-template-areas: "box7 box8 box9";
  margin-top: 10px;
}

.grid-area img {
  height: 50%;
}

.grid-area2 img {
  height: 50%;
}

.hr_grid {
  width: 95%;
}

.one {
  grid-area: box1;
}

.two {
  grid-area: box2;
}

.three {
  grid-area: box3;
}

.four {
  grid-area: box4;
}

.five {
  grid-area: box5;
}

.six {
  grid-area: box6;
}

.sec_one {
  grid-area: box7;
}

.sec_two {
  grid-area: box8;
}

.sec_three {
  grid-area: box9;
}

.aside_links {
  width: 89%;
  margin-top: 20px;
}

.text {
  font-size: 0.6rem;
}

.sml {
  font-size: 0.8rem;
  margin-top: 5px;
}

.footer {
  width: 75%;
  margin: 200px auto 10px auto;
}

.fot_heading {
  height: 6vh;
}

.fot_img {
  width: 70%;
}

.home_page {
  align-self: flex-end;
  font-size: 0.7rem;
}

.footer hr {
  color: gray;
  background-color: #293136;
}

.foot_grid {
  margin-top: 7px;
  grid-template-columns: repeat(6, 1fr);
}

.no_dec {
  font-size: smaller;
  color: #293136;
}

.foot_grid p {
  margin-bottom: 9px;
}

.subscribe_border {
  border-left: 1px solid lightgray;
  padding-left: 10px;
}

.grid_icons {
  margin-bottom: 10px;
}

.grid_icons img {
  width: 20px;
  height: 20px;
}

.right_margin {
  margin-right: 10px;
}

#marg_bot {
  margin-bottom: 16px;
}

.top_bot {
  margin: 10px 0;
  height: 1px;
  color: lightgray;
  background-color: lightgray;
}

.fot_div {
  width: 92%;
  margin: 2px auto;
  justify-content: space-evenly;
}

.last_txt {
  color: rgb(80, 69, 69);
  font-size: 0.7rem;
}
