* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  height: 800vh;
}
.nav-bar {
  width: 100%;
  border-bottom: 1px solid gray;
  height: 5vh;
  position: fixed;
  z-index: 1;
  background-color: white;
}
.d_flex {
  display: flex;
}
.nav_content {
  width: 33.3%;
  display: flex;
}
.icons {
  margin-left: 6%;
  align-self: center;
}
.no_line {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: large;
}

.logo {
  width: 60%;
  height: 80%;
  align-self: center;
  margin-left: 20%;
}

.last_content {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  column-gap: 6px;
}

.subs_butn {
  background-color: #326891;
  color: white;
  border-radius: 3px;
  padding: 4px;
  border: none;
  width: 122px;
  height: 28px;
  align-self: center;
}

.accnt_btn {
  background-color: white;
  color: black;
  border-radius: 3px;
  padding: 8px;
  border: none;
}

.maintag {
  position: relative;
  top: 100px;
  height: fit-content;
}

.heading {
  width: 100%;
  height: 8vh;
}

.heading_container {
  width: 35%;
  height: 100%;
  margin-left: 30%;
  font-style: oblique;
  font-size: 18px;
}

.first_picture {
  height: fit-content;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.picture {
  width: 80%;
  height: 100%;
  align-self: center;
}

.picture img {
  width: 100%;
  height: 100%;
}

.picture_text {
  width: 100%;
  display: flex;
  justify-content: center;
}

.text_container {
  width: 80%;
  height: 20%;
}

.sml_txt {
  font-size: smaller;
}

.contact_container {
  margin-top: 40px;
  width: 40%;
  height: 67px;
}

.bolder_text {
  font-weight: bold;
  height: 20%;
}

.date_social_container {
  margin-top: 2%;
  height: 80%;
  display: flex;
}

.date {
  width: 60%;
}

.social {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.no_decoration {
  text-decoration: none;
  color: black;
}

.social button {
  height: 33%;
}

.Big_conatiner {
  width: 100%;
  height: 330vh;
  margin-top: 60px;
}

.paragraph_container {
  width: 70%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: flex-end;
}

aside {
  width: 30%;
  height: 70%;
  float: right;
  display: flex;
  flex-direction: column;
}

.paragraph {
  width: 57%;
  margin-right: 30px;
  font-size: x-large;
  height: 200vh;
}

.paragraph p {
  margin-top: 10px;
}

.link_blue {
  color: blue;
}

.hr {
  width: 60px;
  position: relative;
  left: 44%;
  margin: 20px 0;
  background-color: gray;
  height: 0.01em;
}

.thanks {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 0.6em;
}

.thanks a {
  color: blue;
  font-size: 1em;
}

.aside_inside_conatiner {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  top: 43%;
  font-weight: bold;
}

.aside_inside_conatiner hr {
  position: relative;
  left: 0;
  width: 80%;
}

.aside_content {
  display: flex;
  margin-bottom: 20px;
}

.sidebar_images {
  width: 90%;
  height: 100px;
}

.firstdiv {
  width: 50%;
}

.paragraph h4 {
  margin-top: 70px;
}

.bigPicture {
  display: flex;
  height: fit-content;
  max-width: 100%;
  justify-content: center;
  align-content: center;
}

.image_container {
  width: 50%;
  height: 80vh;
}

.image_container img {
  width: 100%;
  height: 100%;
}

.text_picture {
  width: 23%;
  height: 80px;
  font-size: 0.8em;
}

.inline {
  display: flex;
  column-gap: 15px;
  position: relative;
  bottom: 420px;
}

.text_picture span {
  font-weight: bold;
}

.inline2 {
  display: flex;
  column-gap: 15px;
  position: relative;
  bottom: 230px;
}

.big_pic_heading {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 10px;
}

.bolder {
  font-weight: bold;
  font-size: large;
}

.hr_pic_end {
  width: 70px;
  position: relative;
  left: 25%;
  margin: 20px 0;
  background-color: black;
  color: black;
  height: 0.1em;
}

.txt_bel_big_pic {
  position: relative;
  left: 25%;
}

.lateParas {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 40%;
  margin-left: 28%;
  font-size: x-large;
}

.lateParas p {
  margin-top: 10px;
}


.vid_sec {
  margin-top: 40px;
  width: 100%;
  height: 400px;
}

.yt_video {
  width: 100%;
  height: 80%;
}

.vid_sec p {
  font-size: 1rem;
}

.vid_sec span {
  font-size: x-small;
}